.custom-table {
  width: 100%;
}

.custom-table .ant-table-cell {
  padding: 8px 16px;
}

.ant-table-header {
  background-color: #f5f5f5;
}

.ant-table {
  table-layout: fixed;
}

.anticon-close,
.anticon-close:hover {
  color: #575353;
}